
# Environment Variables
.env
config/.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Database
data/processed_files.json
data/processed/
# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Virtual Environment
venv/
.venv/
env/
